{% extends 'base.html' %} {% block content %}

<h2>Add a recipe!</h2>
<p> To add a recipe, type in the name of the food in the first field and then type in the recipe for it in the second. To delete a recipe from the current list, enter its name under the delete form. </p>
<form action="" method="post">
    {% csrf_token %}
    <label for="food_name">Food Name:</label><br />
    <input type="text" id="food_name" name="food_name" /><br />
    <label for="food_recipe">Food Recipe:</label><br />
    <textarea id="food_recipe" name="food_recipe" rows="8" cols="40"></textarea><br /> <!-- Use textarea for larger text area -->
    <input type="submit" value="Submit" name="Submit1" />
</form>
<h2>Delete a recipe!</h2>
<form action="" method="post">
    {% csrf_token %}
    <label for="food_name">Food Name:</label><br />
    <input type="text" id="food_name" name="food_name" /><br />
    <input type="submit" value="Submit" name="Submit2" />
</form>

<h2>All Foods</h2>
<ul>
    {% for food in food_recipes %}
    <li>{{ food }}</li>
    {% endfor %}
</ul>

<p><a href="{% url 'recipes:index' %}">Go back to recipes</a></p>
{% endblock %}